<!DOCTYPE HTML>
{{ $style := resources.Get "css/main.css" }}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; height=device-height; maximum-scale=1.4; initial-scale=1.0; user-scalable=yes"/>
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="{{ $style.Permalink }}">
    </head>
    <body>
        <div id="header">
            <h1 id="site-header">James Crake-Merani</h1>
            <ul id="nav-bar">
                {{ range .Site.Menus.main }}
                <li class="nav-bar-item">
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
            <hr>
        </div>
        <div id="content">
            {{ block "main" . }}
            {{ end }}
        </div>
    </body>
</html>
