body {
    background-color: black;
    color: white
}

#site-header {
    text-align: center
}

#content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #181e21*/ 
}

.page-item {
    border-color: white;
    border-style: solid;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

#nav-bar {
    list-style-type: none;
}

.nav-bar-item {
    display: inline-block;
}

a {
    color: ghostwhite
}
